body {
    background: #000;
    height: 100vh;
  }

  .main-container{
      padding-top:2em;
  }
  table {
    margin: 0 auto;
    border-radius:10px;
  }
  td {
    border: 1px solid rgb(225, 18, 18);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 4em;
    box-sizing:border-box;
 
  }


  
  td:hover{
    cursor:pointer;
  }
  
  td:first-child{
    border-left: none;
  }
  td:last-child{
    border-right: none;
  }
  
  td:nth-child(2n+2){
    border-right: none;
    border-left: none;
  }
  
  thead tr td{
    border-top:none;
    border-bottom: none;
  }
  
  tfoot tr td{
    border-top:none;
    border-bottom: none;
  }
  
//   .container, .playerTurn {
//     text-align: center;
//   }
  
  .X, .O {
    border-radius: 5px;
  }
  .X {
    background: red;
  }
  .O {
    background: blue;
  }
  
  .clear {
    background: #000;
  }
  #reset {
    color:red
  }
  button {
    background: #000;
  }
  #reset {
    padding: 5px;
    width: 400px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #reset:hover{
    background: rgb(45, 9, 9);
    border-color: white;
  }


.row{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cell{
    border: 2px solid white;
    height:100px;
    width:100px;

}

.board{
    background-color: burlywood;
    margin: 1em auto;
    width:400px;
    height:400px;
    padding: 2em;
}

// #panel{
//     background-color: bisque;
//     margin: 0 auto;
//     width: 400px;
//     height: 70px;
// }

// button{

//     text-align:center;
// }

// .button-start{
//     margin:0 auto;
//     width: 100px;
//     padding:1em;
// }

.form, .turn-text{
    
    max-width:400px;
    margin: 5em auto;

}



.hide{
display: none;
}

.show{
    display: block;
}

