body{
    font-size: 1em;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cell{
    border: 2px solid white;
    height:100px;
    width:100px;

}

.board{
    background-color: burlywood;
    margin: 1em auto;
    width:400px;
    height:400px;
    padding: 2em;
}

#panel{
    background-color: bisque;
    margin: 0 auto;
    width: 400px;
    height: 70px;
}

button{

    text-align:center;
}

.button-start{
    margin:0 auto;
    width: 100px;
    padding:1em;
}

.box{
    
    max-width:400px;
    margin: 0 auto;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.hide{
display: none;
}

.show{
    display: block;
}